<ui-view class="authentication section-form">
  <form name="signInController.form"
        ng-submit="signInController.submit(signInController.form.$valid)"
        class="form-wrapper col-sm-12"
        novalidate>
    <div class="form-group" ms-form-group-error>
      <label for="email">{{ 'sections.authentication.signIn.email' | translate }}</label>
      <input name="email"
             type="email"
             ng-model="signInController.fields.email"
             class="form-control"
             id="email"
             ng-required="true">
    </div>
    <div class="form-group" ms-form-group-error>
      <label for="password">{{ 'sections.authentication.signIn.password' | translate }}</label>
      <input name="password"
             type="password"
             ng-model="signInController.fields.rawPassword"
             class="form-control"
             id="password"
             ng-required="true">
    </div>
    <button class="btn btn-primary btn-lg btn-affix">
      <span ng-if="!signInController.isLoading">{{ 'sections.authentication.signIn.signInButton' | translate }}</span>
      <span ng-if="signInController.isLoading">{{ 'sections.authentication.signIn.loadingText' | translate }}</span>
    </button>
  </form>
</ui-view>
