'use strict';

module.exports = {
  api: {
    baseUrl:'@@FRONT_API_URL',
    dateFormat: 'YYYY-MM-DD H:mm:ss'
  },
  facebookToken: '@@FACEBOOK_TOKEN',
  gMapsToken: '@@GMAPS_TOKEN',
  debug: '@@DEBUG',
  environment: '@@ENVIRONMENT',
  languages:{
    'default': {
      locale:'en_us',
      fbLocale:'en_US',
      ietf:'en-us',
      iso2:'us',
      currencyIso:'USD',
      language: 'en',
      momentLocale: 'en',
      shortTimeFormat: 'HH:mm',
      xUserAgent:'F-0.2.0',
      dateFormat: {
        date: 'DD/MM/YYYY',
        time: 'HH:mm',
        dateTime: 'DD/MM h:mm a'
      }
    }
  }
};
