.section-map {
  height: 100%!important;
}

.btn-my-location {
  position: fixed;
  bottom: 100px;
  right: 50px;
  font-size: 40px;
  width: 77px;
  border-radius: 46px;
  .icon {
    position: relative;
    top: 3px;
    color: $brand-primary;
  }
}
