<div class="section-container"
     us-spinner
     spinner-theme="white"
     spinner-on="mapController.isLoading">
  <ng-map class="section-map"
          styles="{{mapController.mapStyle}}"
          disable-default-u-i="true"
          zoom-to-include-markers="auto"
          center="[{{mapController.position.coords.latitude}},{{mapController.position.coords.longitude}}]">
    <marker ng-repeat="(id, pos) in mapController.positions"
            icon="{{ pos.icon ? {url: pos.icon} : {url:'assets/images/app/marker.png'} }}"
            on-click="mapController.showPinInfo(event, id)"
            position="{{pos.latlon}}"></marker>
    <marker position="[{{mapController.position.coords.latitude}},{{mapController.position.coords.longitude}}]"
            icon="{url:'assets/images/app/current-position-marker.png'}"
            centered="true"></marker>
  </ng-map>

  <a class="btn btn-circle btn-my-location" ng-click="mapController.getCurrentPosition()">
    <i class="icon icon-my-location"></i>
  </a>

  <a class="btn btn-primary btn-lg btn-affix" ui-sref="sections.addReport">
    {{ 'sections.map.addFocus' | translate }}
  </a>

  <ms-pin-info pin-selected="mapController.pinSelected" show-pin-info-toggle="mapController.showPinInfoToggle"></ms-pin-info>
</div>
