.upload-image {
  padding: 30px 0;
  display: block;
  text-align: center;
  text-transform: uppercase;
  border: 1px dashed #CCC;
}

.upload-image-text {
  display: block;
  text-align: center;
  margin: 10px 0;
}
