.section-content {
  flex: 1;
}

.section-heading {
  display: block;
  height: 60px;
  width: 100%;
  box-sizing: border-box;
  background: $super-light-grey;
  padding: 15px 5px;
  .title {
    margin: 0 20px;
  }
}
