.btn {
  font-weight: $font-weight-normal;
  text-transform: uppercase;
  font-size: $font-size-mid;
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-circle {
  right: 50px;
  width: 60px;
  border-radius: 100%;
}

.btn-affix {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 0;
}

.btn-facebook {
  background-color: $facebook-color;
  border-color: $facebook-color;
  border-radius: 0;
  color: $white;
  .icon {
    margin-right: 20px;
    vertical-align: sub;
  }
  &:hover,
  &:focus {
    color: $white;
    opacity: .6;
  }
}
