//- Colors
$black: #000;
$white: #FFF;
$grey: #CCCCCC;
$green: #3DB44E;
$yellow: #FFC800;
$blue: #4FA8E1;
$red: #F04646;
$gold: #FFC000;

$dark-grey: #222222;
$mid-grey: #555555;
$upper-light-grey: #CCCCCC;
$light-grey: #DDDDDD;
$super-light-grey: #EEEEEE;

$mosquito: #ff5349;

$brand-primary: $mosquito;

$facebook-color: #3b5998;

//- TYPOGRAPHY
$text-color: $black;
$base-font-family: 'Roboto', sans-serif !default;
$base-font-size: 14px;

$font-size-small: 12px;
$font-size-mid: 16px;
$font-size-upper-mid: 20px;
$font-size-large: 30px;
$font-size-giant: 48px;

$base-line-height: 18px;
$line-height-mid: 20px;
$line-height-upper-mid: 30px;
$line-height-giant: 50px;

$font-weight-lighter: 100;
$font-weight-normal: 300;
$font-weight-bold: 400;
$font-weight-super-bold: 500;
$font-weight-stronger: 700;
